.item-1 {
  background-color: lightgreen;
}
.item-2 {
  background-color: greenyellow;
}
.item-3 {
  background-color: green;
}
.item-4 {
  background-color: darkgreen;
}
.item-5 {
  background-color: darkolivegreen;
}
.item-6 {
  background-color: darkslategrey;
}
.container {
  display: grid;
  grid-template-columns: 200px 100px 300px;
  grid-template-rows: 100px 200px;
}
